<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/unit/bootstrap.inc.php" backupStaticProperties="false">
  <testsuites>
    <testsuite name="default">
      <directory>tests/unit</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src/php/</directory>
    </include>
    <exclude>
      <directory>src/php/console/</directory>
      <file>src/php/bootstrap.php</file>
    </exclude>
  </source>
</phpunit>
