<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="tests/unit/bootstrap.inc.php"
        verbose="false"
        >
    <testsuites>
        <testsuite name="default">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/php/</directory>
            <exclude>
                <directory>src/php/console/</directory>
                <file>src/php/bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>